* {
    box-sizing: border-box;
    margin: 0;
}

img {
    width: 100%;
}

header {
    background-color: #000;
    color: #fff;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    display: inline;
}